*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(142deg, rgba(166, 252, 89, 1) 0%, rgba(41, 53, 86, 1) 100%);
}
.contactsection
{
    display: flex;
    height: 66%;
    width: 76%;
    background: rgba(0, 0, 0, 0.45);
    justify-content: center;
    border-radius: 15px;
    
}
.leftside
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    padding: 20px;
    position: relative;
}
.leftside span
{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    color: white;
    letter-spacing: 2px;
}
.icons
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.icons:hover
{
    cursor: pointer;
}
img
{
    margin: 10px;
}
.show {
    position: absolute;
    bottom: 100px;
    color: white;
    font-size: 32px;
}
.rightside
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    background-color: transparent;
}
.rightside input:focus
{
    outline: 0;
}
.rightside textarea:focus
{
    outline: 0;
}
input, textarea
{
    padding: 10px;
    width: 30vw;
    margin: 10px;
    border: none;
    border-radius: 5px;
}
button
{
    width: 10em;
    height: 3em;
    padding: 10px;
    margin-top: 15px;
    background-image: radial-gradient(circle, rgba(89, 225, 252, 1) 0%, rgba(41, 53, 86, 1) 100%);
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: white;
    letter-spacing: .3em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    font-weight: bold;
}
button:after {
    content: '';
    background-color: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 130%;
    position: absolute;
    left: -50px;
    top: -10px;
    transform: rotate(20deg);
    transition: transform 0.3s;
}
button:hover:after {
    transform: translateX(14em) rotate(20deg);
}
.footer
{
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    text-align: center;
    color: white;
    letter-spacing: 2px;
}
@media only screen and (max-width: 1200px) {
    .leftside span {
        font-size: 30px;
    }
    input, textarea {
        padding: 7px;
        width: 20vw;
        margin: 7px;
        border: none;
        border-radius: 5px;
    }
}
@media only screen and (max-width: 1000px) {
    .contactsection {
        flex-direction: column;
        height: 75%;
        width: 85%;
    }
    input, textarea {
        padding: 7px;
        width: 50vw;
        margin: 7px;
        border: none;
        border-radius: 5px;
    }
    .rightside {
        margin-top: 30px;
        margin-left: 0;
    }
    .show {
        bottom: -25px;
    }
    textarea {
        height: 200px;
    }
}